# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Editor / IDE
# ----------------------------
.vscode/
.idea/
*.swp
*.swo

# ----------------------------
# Node / JS (LiquidJS, tooling)
# ----------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*

# ----------------------------
# Build / cache
# ----------------------------
dist/
build/
.cache/
.tmp/
tmp/
templates/


# ----------------------------
# Logs
# ----------------------------
logs/
*.log

# ----------------------------
# Misc
# ----------------------------
coverage/
*.zip
